PORT=3000

DATABASE_URL=<your_database_url_here>

LLM_PROVIDER=<your_llm_provider_here(e.g., gemini or openai)>
LLM_MODEL=<your_llm_model_here(e.g., gemini-3.1-flash-lite-preview or gpt-4)>
LLM_API_KEY=<your_llm_api_key_here>
REDIS_HOST=<your_redis_host_here(e.g., localhost)>
REDIS_PORT=<your_redis_port_here(e.g., 6379)>